{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["babel"],
  "rules": {
    "new-cap": 0,
    "babel/new-cap": 2,
    "react/prefer-stateless-function": 0
  },
  "globals": {
    "__DEVELOPMENT__": true
  }
}
